<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
version="2.4">
<display-name>Projet_Enchere_Cloud</display-name> 
<servlet> 
<servlet-name>IndexController</servlet-name> 
<servlet-class>controller.IndexController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>IndexController</servlet-name> 
<url-pattern>/start</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>StatController</servlet-name> 
<servlet-class>controller.StatController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>StatController</servlet-name> 
<url-pattern>/stat</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>CategorieController</servlet-name> 
<servlet-class>controller.CategorieController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>CategorieController</servlet-name> 
<url-pattern>/categorie</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>DemandeRechargeController</servlet-name> 
<servlet-class>controller.DemandeRechargeController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>DemandeRechargeController</servlet-name> 
<url-pattern>/demande</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>ChangeCommissionController</servlet-name> 
<servlet-class>controller.ChangeCommissionController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>ChangeCommissionController</servlet-name> 
<url-pattern>/change.commission</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>AjoutCategorieController</servlet-name> 
<servlet-class>controller.AjoutCategorieController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>AjoutCategorieController</servlet-name> 
<url-pattern>/add.categorie</url-pattern> 
</servlet-mapping>
<servlet> 
<servlet-name>ConfirmDemandeController</servlet-name> 
<servlet-class>controller.ConfirmDemandeController</servlet-class> 
</servlet>
<servlet-mapping> 
<servlet-name>ConfirmDemandeController</servlet-name> 
<url-pattern>/confirm.demande</url-pattern> 
</servlet-mapping>
</web-app>